body {
	font-family: Jost, Roboto, sans-serif;
}


/* Header */
#header .content {
	background-color: #702ae8;
}
#header .btn-cta {
	position: absolute;
	bottom: -30px;
	z-index: 1;
	height: 50px;
	width: 150px;
	font-size: 1.25rem;
	font-weight: 500;
	color: #702ae8;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
	animation: btn_cta_move 0.4s infinite;
	animation-direction: alternate;
}
@keyframes btn_cta_move {
	from { transform: scale(1.0); }
	to { transform: scale(1.1); }
}

/* Wavy border */
.wavy {
	padding: 0;
	display: inline-block;
  	position: relative;
  	width: 100%;
  	min-height: 80px;
  	vertical-align: middle;
  	overflow: hidden;
}
.wavy svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
@media(min-width: 655px) {
	.wavy { min-height: 130px; }
}
@media(min-width: 1024px) {
	.wavy { min-height: 160px; }
}
@media(min-width: 1250px) {
	.wavy { min-height: 200px; }
}

/* Custom grid */
.wrapper {
	width: 100%;
}
@media(min-width: 768px) {
	.wrapper {
		width: 500px;
	}
}
@media(min-width: 1024px) {
	.wrapper {
		width: 700px;
	}
}


/* Changing bootstrap default colors */
.text-primary {
	color: #ffe100 !important;
}
.bg-primary {
	background-color: #ffe100 !important;
}