body {
	font-family: Jost, Roboto, sans-serif;
	background-color: #4e1ca3;
}


/* Header */
#header .content {
	background-color: #702ae8;
}
#header .details {
	position: absolute;
	bottom: -70px;
	z-index: 1;
}
#header .btn-cta {
	height: 50px;
	width: 150px;
	font-size: 1.25rem;
	font-weight: 500;
	color: #702ae8;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
	animation: btn_cta_move 0.4s infinite;
	animation-direction: alternate;
}
@keyframes btn_cta_move {
	from { transform: scale(1.0); }
	to { transform: scale(1.1); }
}
/* Media queries */
@media screen and (max-width: 1124px) {
	#header iframe { width: 350px; height: 195px; }
	#header .copy-2 { font-size: 1.5rem; }
}
@media screen and (max-width: 950px) {
	#header .copy-1 { font-size: 1.5rem; }
	#header .content {
		height: 600px;
	}
}
@media screen and (max-width: 768px) {
	#header .call-to-action .details {
		position: static !important;
		margin-bottom: 40px;
	}
	#header .copy-2 {
		display: none;
	}
	#header .content { height: 650px; }
}
@media screen and (max-width: 567px) {
	#header .content { height: 680px; }
}
@media screen and (max-width: 520px) {
	#header .content { height: 720px; }
}
@media screen and (max-width: 395px) {
	#header .content { height: 770px; }
	#header iframe { width: 300px; height: 165px; }
}
@media screen and (max-width: 340px) {
	#header iframe { width: 270px; height: 150px; }
}
@media screen and (max-width: 326px) {
	#header .content { height: 800px; }
}


/* Wavy border */
.wavy {
	padding: 0;
	display: inline-block;
  	position: relative;
  	width: 100%;
  	min-height: 80px;
  	vertical-align: middle;
  	overflow: hidden;
}
.wavy svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
@media(min-width: 655px) {
	.wavy { min-height: 130px; }
}
@media(min-width: 1024px) {
	.wavy { min-height: 160px; }
}
@media(min-width: 1250px) {
	.wavy { min-height: 200px; }
}

/* Custom grid */
.wrapper {
	width: 100%;
}
@media(min-width: 768px) {
	.wrapper {
		width: 500px;
	}
}
@media(min-width: 1024px) {
	.wrapper {
		width: 700px;
	}
}


/* Changing bootstrap default colors */
.text-primary {
	color: #ffe100 !important;
}
.bg-primary {
	background-color: #ffe100 !important;
}
.bg-secondary {
	background-color: #702ae8 !important;
}

/* Section: About 1 */
.about-1 .info {
	position: relative;
}
.about-1 .info img {
	position: absolute;
	bottom: -10px;
	right: -10px;
}